body {
    background: black;
    color: white;
}

#content {
    width: 50%;
    margin: auto;
    font-family: verdana;
}

#content a:link {
    color: white;
    font-size: 1.1em;
}

#content a:hover {
    border: 1px solid white;
}

iframe {
    background: white;
}